.cm-s-rich-text {
    font-family: sans-serif;
}

.cm-s-rich-text .cm-header {
    font-weight: bold;
}

.cm-s-rich-text .cm-header-1 {
    font-size: 2em;
}

.cm-s-rich-text .cm-header-2 {
    font-size: 1.5em;
}

.cm-s-rich-text .cm-header-3 {
    font-size: 1.17em;
}

.cm-s-rich-text .cm-header-4 {
    font-size: 1em;
}

.cm-s-rich-text .cm-header-5 {
    font-size: 0.83em;
}

.cm-s-rich-text .cm-header-6 {
    font-size: 0.75em;
}

.cm-s-rich-text .cm-comment {
    font-family: monospace;
}

.cm-s-rich-text .cm-strong {
    font-weight: bold;
}

.cm-s-rich-text .cm-em {
    font-style: italic;
}
